<p>second works!</p>

<h1 [style.color]="scol">Single Style Binding</h1>

<h1 [style]="mcol">Multiple Style Binding</h1>

<h1 [class]="sclass">Single Class Binding</h1>
<h1 [class]="mclass">Multiple Class Binding</h1>

<!--  <input type="color" #myname>
<input type="button" (click)="fun(myname.value)" value="Click"> 
<br>
Hello {{mydata}} -->
<!-- <h1 [style.color]="mycolor">Masstech</h1><br> -->

<!-- using ngModel -->
<input type="color" [(ngModel)]="mycolor">

<h1 [style.color]="mycolor">Masstech</h1><br>
<input type="text" [(ngModel)]="myvalue">{{myvalue}}
<br><br>

<!-- add values -->
First<input type="number" #a><br><br>
Second<input type="number" #b>
<input type="button" value="Click" (click)="func2(a.value,b.value)">
{{add}}